<mat-card>
    <mat-card-header> 
        <mat-card-title>Edit your profile information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form>
            <mat-form-field>
                <Input matInput ="userData.Username" placeholder="Username" type="text" name="Username">
            </mat-form-field>
            <mat-form-field>
                <input matInput ="userData.Passowrd" placeholder="Password" type="password" name="Password">
            </mat-form-field>
            <mat-form-field>
                <input matInput ="userData.Email" placeholder="Email" type="email" name="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput ="userData.Birthday" placeholder="Birthday" type="date" name="Birthday">
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button
            mat-raised-button (click)="editUser()" 
            color="primary">
            Update your details
        </button>
    </mat-card-actions>
</mat-card>
