<div clsas="synopsis-dialog-wrapper">
    <button mat-icon-button
    color="dark"
    [mat-dialog-close]="true">
        <mat-icon class="close">close</mat-icon>
    </button>
    <h2 class="synopsis-title"> {{data.Title}} </h2>
    <h3 class="synopsis-description"> {{data.Description}} </h3>
</div>

<!-- <mat-card>
    <mat-card-title>
        {{data.Title}}
    </mat-card-title>
    <mat-dialog-content>
        <b>Description: </b> {{data.Description}}
    </mat-dialog-content>
    <mat-card-actions>
        <button
        mat-stroked-button
        mat-dialog-close="Close"
        color="primary">
        X
        </button>
    </mat-card-actions>
</mat-card> -->
