mat-card {
  box-sizing: border-box;
  font-family: garamond;
  background-color: #374A67;
  color: #80A1D4;
}

.action-button {
  background-color: #374A67;
  color: #80A1D4;
}

img {
  max-width: 266px;
  max-height: 400px;
}
  
// .image-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }